/* :root {
  --color-main: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--color-main);
} */
.mainLayout {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 2966px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  border: solid 2px;
  margin-left: 5rem;
}

.headerWithMenu {
  position: inherit;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 200px;
  background: transparent url('') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.buildTank {
  position: inherit;
  top: 207px;
  left: 0px;
  width: 1280px;
  height: 300px;
  background: transparent linear-gradient(180deg, #CEE8F4 0%, #97C9E0 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.buildTankText {
  position: relative;
  top: 20px;
  margin-left: 70px;
  width: 261px;
  height: 36px;
  text-align: left;
  padding-top: 10px;
  font: normal normal 800 36px/32px Proxima Nova A;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.chooseTank {
  position: relative;
  left: 70px;
  width: 885px;
  height: 192px;
  background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255);
  border-radius: 28px;
  opacity: 1;
}

.chooseTankH4 {
  position: relative;
  margin-left: 60px;
  padding-top: 10px;
  width: 548px;
  height: 24px;
  text-align: left;
  font: normal normal bold 24px/32px Proxima Nova A;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.chooseTankText{
  position: relative;
  margin-left: 60px;
  width: 548px;
  height: 85px;
  color: var(--dark-gray);
  text-align: left;
  font: normal normal normal 16px/20px Proxima Nova A;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.tankImage {
  position: relative;
  left: 1000px;
  width: 164px;
  height: 158px;
  opacity: 1;
}

.tankCartBuilder {
  position: relative;
  left: 0px;
  width: 1280px;
  height: 200px;
  background: #ECF5FA 0% 0% no-repeat padding-box;
  opacity: 1;
}

.myTank {
  position: relative;
  width: 102px;
  height: 26px;
  margin-left: 110px;
  padding-top: 23px;
  text-align: center;
  font: normal normal 800 26px/32px Proxima Nova A;
  letter-spacing: 0px;
  color: #007DB5;
  opacity: 1;
}

.tankCartBuilderRightArrow {
  margin-top: -20px;
  position: relative;
  width: 10px;
  height: 20px;
  opacity: 1;
  margin-left: 317px;
}

.tankCartBuilderRightArrow2 {
  margin-top: -20px;
  position: relative;
  width: 10px;
  height: 20px;
  opacity: 1;
  margin-left: 636px;
}

.tankAccessories {
  position: relative;
  width: 206px;
  height: 26px;
  margin-left: 430px;
  padding-top: 65px;
  text-align: center;
  font: 800 26px / 32px "Proxima Nova A";
  letter-spacing: 0px;
  color: rgb(153, 153, 153);
  opacity: 1;
}

.newFishImage {
  position: inherit;
  padding: 5px;
  left: 20px;
  width: 1250px !important;
  height: 325px !important;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.videoGalary {
  position: inherit;
  margin-top: 50px;
  padding: 5px;
  left: 20px;
  width: 1250px !important;
  height: 695px !important;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.chooseButton {
  position: relative;
  width: 140px;
  height: 40px;
  margin-left: 90px;
  margin-top: 35px;
  border: 1px solid #007DB5;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #007DB5;
  border-radius: 4px;
  color: #007DB5;
  opacity: 1;
}


.popup-box {
  position: absolute;
  top: -500px;
  left: 0px;
  width: 1280px;
  height: 3000px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;  
}

.box {
  position: relative;
  top: 37px;
  left: 169px;
  width: 960px;
  height: 1813px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow-y: auto;
}
.close-icon {
  content: 'x';
  cursor: pointer;
  position: relative;
  top: 10px;
  width: 50px;
  height: 16px;
  text-align: left;
  font: normal normal bold 14px/16px Arial;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin-right: 10px;
  float: right;
}

.resourcesGalary {
  position: inherit;
  left: 21px;
  width: 1268px;
  height: 438px;
  opacity: 1;
  color: #007DB5;
  margin: 5px;
}

.resourcesGalaryHeading {
  margin-top: 50px;
  position: inherit;
  margin-left: 458px;
  width: 558px;
  height: 40px;
  text-align: center;
  font: normal normal 800 40px/40px Proxima Nova A;
  letter-spacing: 0px;
  color: #003B49;
  opacity: 1;
}

.resourceGaleryContent {
  position: inherit;
  width: 400px;
  height: 349px;
  opacity: 1; 
}

.resourceGalaryImage {
  position: inherit;
  margin-left: 21px;
  width: 385px;
  height: 267px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.resourceGalaryTile {
  position: inherit;
  margin-top: 13px;
  margin-left: 21px;
  width: 400px;
  height: 60px;
  text-align: center;
  font: normal normal 800 20px/22px Proxima Nova A;
  letter-spacing: 0px;
  color: #003B49;
  text-transform: capitalize;
  opacity: 1;
}

.resourceGalaryReadMore {
  position: inherit;
  margin-left: 186px;
  width: 70px;
  height: 18px;
  color: var(--loyal-blue);
  text-align: center;
  font: normal normal bold 13px/18px Open Sans;
  letter-spacing: 0px;
  color: #007DB4;
  opacity: 1;   
}

.productDetailWindowTitle {
  position: relative;
  margin-top: 40px;
  left: 374px;
  width: 249px;
  height: 36px;
  text-align: left;
  font: normal normal 800 36px/32px Proxima Nova A;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.productDetailWindowSubTitle {
  position: relative;
  margin-top: 30px;
  left: 365px;
  width: 282px;
  height: 24px;
  text-align: left;
  font: normal normal bold 24px/16px Proxima Nova A;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.productDetailsWindowButton {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  left: 170px;
  width: 200px;
  height: 60px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: 1px solid #007DB5;
  opacity: 1;
}

.productDetailsWindowButtonText {
  position: inherit;
  width: 92px;
  height: 16px;
  top: 13px;
  left: 52px;
  text-align: center;
  font: normal normal bold 16px/32px Proxima Nova A;
  letter-spacing: 0px;
  color: #007DB5;
  opacity: 1;
}

.productDetailsWindowButtonDesc {
  position: inherit;
  top: 65px;
  height: 16px;
  text-align: center;
  font: normal normal normal 16px/16px Proxima Nova A;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 50px;
  width: 100px;
}

.productDetailsWindowAdditionInfo {
  position: absolute;
  top: 293px;
  width: 303px;
  left: 66px;
  height: 24px;
  text-align: left;
  font: normal normal bold 24px/16px Proxima Nova A;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.productDetailsWindowFilterInfo {
  position: absolute;
  top: 330px;
  left: 66px;
  width: 315px;
  height: 16px;
  text-align: left;
  font: normal normal normal 16px/16px Proxima Nova A;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.show {
  position: relative;
  width: 40px;
  height: 16px;
  text-align: left;
  font: normal normal bold 16px/16px Proxima Nova A;
  letter-spacing: 0px;
  color: #007DB5;
  opacity: 1;
}

.popUpWindowProductsSection {
  position: inherit;
  top: 230px;
  left: 66px;
  width: 837px;
  height: 1395px;
  opacity: 1;
  border: solid 1px;
}

.productPagination {
  width: 837px;
  height: 41px;
  opacity: 1;
  position: absolute;
}

.productTraser {
  position: relative;
  width: 228px;
  height: 387px;
  opacity: 1;
  float: left;
  left: 20px;
  padding-left: 5px;
  margin-right: 45px;
}

.productTraserImage {
  width: 228px;
  height: 228px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  position: inherit;
}

.productTraserTitle {
  position: inherit;
  width: 211px;
  height: 32px;
  text-align: left;
  font: normal normal bold 14px/16px Arial;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.productTraserPrice {
  top: 768px;
  left: 233px;
  width: 58px;
  height: 17px;
  text-align: left;
  font: normal normal bold 16px/18px Arial;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.productTraserRating {
  top: 792px;
  left: 233px;
  width: 12px;
  height: 12px;
  color: #317DB4 0% 0% no-repeat padding-box;
  opacity: 1;
}